<p id="notice"><%= notice %></p>

<h1 id="as">Listing Users</h1>

<table cellpadding="5", border = '0'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to image_tag(user.image.url(:thumb)), user.image.url %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New User', new_user_path %>

<p id="pdf_link"><%= link_to "Download Invoice (PDF)", users_path(@users, :format => "pdf") %></p>