<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<strong>Image:</strong>

<ul class="img-list">
  <li>
  <%=link_to image_tag(@user.image.url(:thumb)), @user.image.url %>
  <span class="text-content"><span><%= @user.name%></span></span>
  </li>
</ul>

<br/>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<p id="pdf_link"><%= link_to "Download Invoice (PDF)", user_path(@user, :format => "pdf") %></p>

<%= link_to "dWicked_PDF", pdf_users_path(:format => "pdf")%>

<!-- <ul class="img-list">
  <li>
    <a href="<%= @user.image.url%>">
      <img src="<%= @user.image.url%>" width="150" height="150" />
      <span class="text-content"><span>rabbit</span></span>
    </a>
  </li>
</ul> -->
