<!DOCTYPE html>
<html>
<head>
  <title>TryPdfkit</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">
    <%= Rails.application.assets.find_asset('application.css').to_s.html_safe %>
  </style>

  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>  
</head>
<body>

<%= yield %>

</body>
</html>
